<div class="modal fade" id="item-select-modal" tabindex="-1" role="dialog" aria-labelledby="item-select-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="item-select-modal-label">Select rental item to checkout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="lead">Scan a rental Item QR Code</p>
                <div class="container-fluid">
                    <div class="rentalItemQrcodeReader-container text-center">
                        <div class="spinner-border text-primary justify-content-center text-center"
                            style="height:200px; width: 200px;" role="status" id="qrcode-spinner">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div id="rentalItemQrcodeReader"></div>
                    </div>
                </div>
                <div class="justify-content-center text-center text-danger" id="qr-error-message" style="display: none;"></div>
                <p class="text-center">Or</p>
                <div class="container-fluid">
                    <p class="lead">Search for an item by item ID:</p>
                    <div class="row align-items-center justify-content-center mb-3">
                        <div class="col-12 mb-2">
                            <div class="input-group">
                                <input id="search-item-input" class="form-control" type="text"
                                    placeholder="Enter rental item ID" />
                                <button id="search-item-btn" type="submit" class="btn btn-outline-primary"><i
                                        class="fa-solid fa-magnifying-glass"></i></button>
                                <button id="clear-item-search-btn" type="reset" class="btn btn-outline-danger"><i
                                        class="fa-solid fa-x"></i></button>
                            </div>
                        </div>
                    </div>
                    <h6 class="">Search Results (select one):</h6>
                    <div id="item-search-results" class="item-search-results">

                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary btn-block" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>