body{
    background-color: whitesmoke;
}
.auth-container {
    background-color: whitesmoke;
    margin-top: 100px;
    max-width: 600px;
    padding: 10px 20px;
}

.anchor-feature-link {
    color: inherit;
    border:1px solid #DDD;
    padding:10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    min-width: 250px;
    max-width:350px;
    text-decoration: none;
    display: block;
}
.anchor-feature-link:hover {
    text-decoration: underline;
}

.btn {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}