body{
    background-color: whitesmoke;
}
.auth-container {
    background-color: whitesmoke;
    margin-top: 100px;
    max-width: 600px;
    padding: 10px 20px;
}
.btn, a {
    transition: transform 0.4s ease;
}
.btn:hover, a:hover{
    transform: scale(1.1);
}
.anchor-feature-link {
    color: inherit;
    border:1px solid #DDD;
    padding:10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    min-width: 250px;
    max-width:350px;
    text-decoration: none;
    display: block;
    transition: transform 0.4s ease;
}
.anchor-feature-link:hover {
    text-decoration: underline;
    transform: scale(1.05);
}
.notification-board {
    color: inherit;
    border:1px solid #DDD;
    padding:10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
}

.btn {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}