<select id="item-type-selector" class="form-select form-select-lg mb-3" aria-label="size 3 select example">
    <option selected>Open this select menu</option>
</select>

<table id="mediaTable" class="table table-striped">
</table>

<script src="/js/media-list-view.js"></script>