<div class="modal fade" id="create-rental-item-modal" tab-index="-1" role="dialog"
    aria-labelledby="create-copy-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="create-copy-modal-label">Create a copy of <%=viewModel.mediaDetails.name%></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="create-item-modal-form" action="">
                        <input type="hidden" id="id" name="baseItemId" value=<%=viewModel.mediaDetails.id %> required>
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="copy-condition-select copy-label">Copy Condition</label>
                                    <select class="form-control" name="condition" id="copy-condition-select">
                                      <option>New</option>
                                      <option>Good</option>
                                      <option>Fair</option>
                                      <option>worn</option>
                                      <option>poor</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input type="checkbox" name="isOnHold" class="form-check-input" id="isOnHold-checkbox">
                                    <label class="form-check-label copy-label" for="isOnHold-checkbox">Place on hold</label>
                                  </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" id="submit-new-copy-btn" class="btn btn-success">Add Item</button>
            </div>
        </div>
    </div>
</div>