<link rel="stylesheet" href="/css/checkout.css">
<%- include('partials/memberSelectModal.ejs') %>
    <%- include('partials/itemSelectModal.ejs') %>
        <div class="container">
            <h2 class="pb-2 border-bottom"><i class="fa-solid fa-arrow-turn-up"></i> Check Out</h2>
            <p id="error-message" class="text-danger text-center" style="font-weight: bold; font-size:1.2em;"></p>
        </div>
        <div class="container py-4 border-bottom border-primary">
            <h4 class="text-center">Select member</h4>
            <div class="row justify-content-center">
                <div class="col-8 col-sm-6 col-md-4 col-lg-3 text-center">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#member-select-modal"><i
                            class="fa-solid fa-magnifying-glass"></i> Lookup Member</button>
                </div>
            </div>
            <form id="checkout-member-form" action="" style="display: none;">
                <div class="row">
                    <div class="form-group mb-2 col-md-6">
                        <label for="name">User ID:</label>
                        <input type="text" name="userId" class="form-control" id="user-id" required disabled readonly>
                    </div>
                    <div class="form-group mb-2 col-md-6">
                        <label for="name">Name:</label>
                        <input type="text" name="name" class="form-control" id="name" required disabled readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mb-2 col-md-6">
                        <label for="name">Phone Number:</label>
                        <input type="tel" name="phoneNumber" class="form-control" id="phone" required disabled readonly>
                    </div>
                    <div class="form-group mb-2 col-md-6">
                        <label for="email">Email:</label>
                        <input type="email" name="email" class="form-control" id="email" required disabled readonly>
                    </div>
                </div>
            </form>
        </div>
        <div class="container py-4 border-bottom border-primary">
            <h4 class="text-center">Select Rental Items</h4>
            <div class="row justify-content-center mb-2">
                <div class="col-8 col-sm-6 col-md-4 col-lg-3 text-center">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#item-select-modal"><i
                            class="fa-solid fa-plus"></i> Add Rental Item</button>
                </div>
            </div>
            <table class="table table-bordered" id="item-table">
                <thead>
                    <tr>
                        <th scope="col">Item ID</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Item Type</th>
                        <th scope="col">Checkout date</th>
                        <th scope="col">Return date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="container mt-2">
            <div class="row justify-content-center">
                <div class="col-8 col-sm-6 col-md-4 col-lg-3 text-center">
                    <button class="btn btn-success" id="complete-checkout-btn"><i class="fa-solid fa-square-check"></i>
                        Complete Checkout</button>
                </div>
            </div>
        </div>
        
        <script src="/js/html5-qrcode.min.js"></script>
        <script src="/js/checkout.js"></script>
        <script>
            jQuery(document).ready(function () {
            
            <% if (viewModel.rentalItem) { %>
                selectItem(<%- JSON.stringify(viewModel.rentalItem) %>);
            <% } %>
            
            <% if (viewModel.member) { %>
                selectMember(<%- JSON.stringify(viewModel.member) %>);
            <% } %>
            });
        </script>