        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="/images/scholars-commons-space.png" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Sign In</h1>
                <% if (messages.error) {%>
                  <p class="text-danger">
                    <%= messages.error %>
                    </p>
                      <% } %>
                <form class="form-signin auth-form container-fluid" action="/auth/login" method="POST">
                    <div class="form-group mb-2">
                        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                            anyone else.</small>
                    </div>
                    <div class="form-group mb-2">
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block mb-3">Submit</button>
                    </div>
                </form>
                <div class="text-center">
                    <p>Not a member? <a href="/auth/Register">Register</a></p>
                </div>
              </div>
            </div>
          </div>


            