<h1 class="text-center title">Employee Dashboard</h1>
<div class="container py-2">
    <h4 class="pb-1 border-bottom">Transactions</h4>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 justify-content-start">
        <a href="/rentalagreement/checkout" class="rounded col m-1 anchor-feature-link">
            <i class="fa-solid fa-arrow-turn-up fa-4x"></i>
            <div class="ml-2">
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Check-out</h3>
                <p>Process a member checkout of rental items.</p>
            </div>
        </a>
        <a href="/rentalagreement/checkin" class="rounded col m-1 anchor-feature-link">
            <i class="fa-solid fa-arrow-turn-down fa-4x"></i>
            <div class="ml-2">
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Check-in</h3>
                <p>Check rental items back in.</p>
            </div>
        </a>
        <a href="/member/billing/payment" class="rounded col m-1 anchor-feature-link">
            <i class="fa-solid fa-credit-card fa-4x"></i>
            <div class="ml-2">
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Billing</h3>
                <p>Accept payments on member fees.</p>
            </div>
        </a>
    </div>
</div>
<div class="container py-2">
    <h4 class="pb-1 border-bottom">Management</h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-3 justify-content-start">
        <a href="/member" class="rounded m-3 col align-items-start anchor-feature-link">
            <i class="fa-solid fa-users fa-4x"></i>
            <div class="ml-2">
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Member Management</h3>
                <p>Lookup library members. View check-out status and rental history. Activate and freeze accounts.</p>
            </div>
        </a>
        <a href="/media" class="rounded m-3 col align-items-start anchor-feature-link">
            <i class="fa-solid fa-book fa-4x"></i>
            <div class="ml-2">
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Media Management</h3>
                <p>Search library media. Check media status and availability. Create, edit or delete media.</p>
            </div>
        </a>
    </div>
</div>